{{ define "main"}}

<style>
    #partners_logos img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin: 7px; 
}

#partners_logos .col-lg-4 {
    padding: 20px;
    margin: 0 !important;
}

#partners_logos .col-sm-6 {
    display: flex;
    justify-content: center;
}

#partners_logos img:hover {
    border: 1px solid #9a8f8f;
}

.row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    justify-content: center!important;
    box-sizing: border-box;
}

h1{
    font-family: Roboto;
    border-left: 4px;
    border-color: #14CEFD;
    border-left-style: solid;
    padding-left: 4px;
}

</style>

<div style="margin: 0px 120px;">

<h1>Anti-Trafficking Organizations</h1>
<hr> <br>
<section id="partners_logos">

    <div class="row">
        {{ range .Params.anti_traf_org}}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href=" {{ .logo.url_page}}" target="_blank">
                <img src="{{ .logo.url_img }}" class="rounded" />
            </a>
        </div>
        {{ end }}
    </div>

</section>
<br>
<h1>Child & Family Services</h1>
<hr> <br>
<section id="partners_logos">

    <div class="row">
        {{ range .Params.child_fam_serv}}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href=" {{ .logo.url_page}}" target="_blank">
                <img src="{{ .logo.url_img }}" class="rounded" />
            </a>
        </div>
        {{ end }}
    </div>

</section>
<br>
<h1>Churches & Non-Profits</h1>
<hr> <br>
<section id="partners_logos">

    <div class="row">
        {{ range .Params.churc_non_prof}}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href=" {{ .logo.url_page}}" target="_blank">
                <img src="{{ .logo.url_img }}" class="rounded" />
            </a>
        </div>
        {{ end }}
    </div>

</section>

<br>
<h1> Community Services </h1>
<hr> <br>
<section id="partners_logos">

    <div class="row">
        {{ range .Params.comm_serv}}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href=" {{ .logo.url_page}}" target="_blank">
                <img src="{{ .logo.url_img }}" class="rounded" />
            </a>
        </div>
        {{ end }}
    </div>

</section>

<h1> Education </h1>
<hr> <br>
<section id="partners_logos">

    <div class="row">
        {{ range .Params.educ}}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href=" {{ .logo.url_page}}" target="_blank">
                <img src="{{ .logo.url_img }}" class="rounded" />
            </a>
        </div>
        {{ end }}
    </div>

</section>

<h1>Law Enforcement</h1>
<hr> <br>
<section id="partners_logos">

    <div class="row">
        {{ range .Params.law_enfor}}
        <div class="col-lg-3 col-md-4 col-sm-6">
            <a href=" {{ .logo.url_page}}" target="_blank">
                <img src="{{ .logo.url_img }}" class="rounded" />
            </a>
        </div>
        {{ end }}
    </div>

</section>


</div>

{{ end }}