<!-- This file affects the header for the entire website/all pages --> 
<header>
    <a href="/">
    <img src="/img/c7htc.png" alt="icon">
    </a>
    <div class="socials">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
        <h3><a href="tel:254-568-6586">(254) 568 6586</a></h3>
    </div>
    <nav>
        <a href="/">HOME</a>
        <a href="/about/about">ABOUT US</a>
        <a href="/partners/partners">PARTNERS</a>
        <a href="/events/events">EVENTS</a>
        <a href="https://mailchi.mp/1f578635900f/c7htc">NEWSLETTER</a>
        <a href="/resources/resources">RESOURCES</a>
        <a href="/contact/contact">CONTACT</a>
        <a href="https://www.betterunite.com/C7HTC-alwayson">DONATE</a>
    </nav>
</header>
