{{ define "main" }}

<div id="section1">
    <h1 class="homeTxt">One Team, <br/>  One Fight</h1>
    <img class="squiggleImg" src="/img/link.png" alt="squiggle">
    <img class="homeImg" src="/img/human_traficking_theme.jpg" alt="homeimg">
    
</div>

<div id="section2">
    <div id="descWrap">
        <h1 style="color: white; text-align: center; font-weight: bold;">C7 Human Trafficking Coalition</h1>
        <h1 style="color: white; text-align: center; line-height: 1.5; font-weight: normal;">is a collaboration of over 40 nonprofits, ministries, social service organizations, healthcare providers, mental health professionals, government agencies, first responders, and community leaders. Together we work to combat human trafficking by bringing awareness, education, training, and victim services to the North Texas region.</h1>
    </div>
</div>

<div id="section3">
    <h1>What We Do</h1>
</div>

<div id="section4">
    <h1>News Section</h1>
</div>

<div id="section5">
    <h1 class="homeTxt">Trafficking Description</h1>
    <img class="homeImg" src="\img\e393a5784f03ab145b3b2da57a80c82a.jpg" alt="img">
</div>

{{end}}