{{ define "main" }}

<style>

.card{
    box-shadow: 
    0 4px 8px 0 rgba(0,0,0,0.2); 
    transition: 0.3s; 
    width: 50%; 
    float: left; 
    margin-left: 40px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.layer{
    background-color: #F0EFEF;
    opacity: .8;
    position: absolute;
    top: 60px;
    left: 80px;
    padding-bottom: 520px;
    padding-right: 20px;
    overflow: hidden;
}

.delivery{
    column-count: 4;
    column-gap: 210px;
    page-break-inside: avoid;
    break-inside: avoid;
    justify-content: space-evenly;
    display: inline-block;
    column-width: 250px;
    position: relative;
}

 figure {
    margin: auto;
}

figure img {
    display: inline-block;
    position: relative;
    object-fit: contain;
    justify-content: center;
    max-width: 100%;
    height: auto;
    
}

figcaption {
    text-align: center;
    position: relative;
    font-family: Segoe UI;
    font-weight: bolder;
    font-size: larger;
}
</style>

<div id="section1">
    <h1 class="homeTxt" style="left: 150px; font-family: Roboto; font-size: 5.5rem; text-indent: -80px; font-weight: normal; box-sizing: border-box;">One Team, <br/>  One Fight</h1>
    <img class="squiggleImg" src="/img/link.png" alt="squiggle">
    <img class="homeImg" src="/img/human_traficking_theme.jpg" alt="homeimg">
    
</div>

<div id="section2">
    <div id="descWrap">
        <h1 style="color: white; text-align: center; font-weight: bold; font-family: Roboto; letter-spacing: 3px; padding-top: 5px; margin-bottom: 5px;">C7 Human Trafficking Coalition</h1>
        <h1 style="color: white; text-align: center; line-height: 1.5; font-weight: normal; font-family: Roboto; margin-top: 0px;">is a collaboration of over 40 nonprofits, ministries, social service organizations, healthcare providers, mental health professionals, government agencies, first responders, and community leaders. Together we work to combat human trafficking by bringing awareness, education, training, and victim services to the North Texas region.</h1>
    </div>
</div>

<div id="section3">
    <h1 style=" font-family: Segoe UI; padding-left: 20px; margin-left: 40px; border-left: 6px; border-left-style: solid; border-color: #14CEFD; ">Delivering lasting impact</h1>
    <h2 style=" font-family: Segoe UI; padding-left: 20px; margin-left: 40px;">The C7HTC helps people to survive, recover, and rebuild their lives.</h2>
    <div class="delivery">
        <figure style="grid-column: 1;">
        <img src="\img\serve_icon.png" alt="">
        <figcaption>We serve</figcaption>
        </figure>
        <figure style="grid-column: 2;">
        <img src="\img\work_icon.png" alt="">
        <figcaption>We work</figcaption>
        </figure>
        <figure style="grid-column: 3;">
        <img src="\img\respond_icon.png" alt="">
        <figcaption>We respond</figcaption>
        </figure>
        <figure style="grid-column: 4;">
        <img src="\img\resettle_icon.png" alt="">
        <figcaption>We resettle</figcaption>
        </figure>
    </div>
</div>

<div id="section4">
    <h1 style=" font-family: Segoe UI; padding-left: 20px; margin-left: 40px; border-left: 6px; border-left-style: solid; border-color: #14CEFD; ">Featured News</h1>
    <div class="card">
        <div>
            {{ with .Params.featured_image }}
                <img style="position: relative; width: 100%; height: 100%;" src="{{ . }}">
            {{ end }}
            <div style="padding: 8px 16px; color: black;  text-decoration: none; font-family: Segoe UI;">
                {{ .Content }}
            </div>
        </div> 
    </div>
    <div style="text-align: center; font-family: Segoe UI">
        <h1>Keep up to date on human trafficking in North Texas</h1>
        <h3 style="padding: 0px 20px; line-height: 3rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
    </div>
</div>

<div id="section5">
    <img class="homeImg" src="\img\e393a5784f03ab145b3b2da57a80c82a.jpg" alt="img">
    <div class="layer">
        <h1 style=" margin-left: 20px; padding-left: 20px; font-family: Segoe UI; border-left: 6px; border-left-style: solid; border-color: #14CEFD; font-size: 2.2rem;">What is Human Trafficking?</h1>
        <ul style="font-family: Segoe UI; font-size: 1.15rem; font-weight: bold; line-height: 3rem;">
            <li>Texas is 2nd in the nation for calls to the National Human Trafficking Hotline</li>
            <li>75% oc children have been exploited for 2 or more years</li>
            <li>75% of victims don't know they are trafficked</li>
            <li>50% of victims were 14 when trafficking began</li>
        </ul>
    </div>
</div>

{{end}}