
<form name="contact" action="https://getform.io/f/027257c0-cd51-4871-a5e6-dcafd81c3b0f" method="POST">
    <div>
        <input type="text" placeholder="Name" name="name">
    </div>
    <div>
        <input type="text" placeholder="Email" name="mail">
    </div>
    <div>
        <input type="text" placeholder="Subject" name="message">
    </div>
    <div>
        <input type="text" placeholder="Message" name="message">
    </div>
    <div>
        <input type="submit" value="Subscribe">
    </div>

</form>
